*{
  margin:0; 
  padding:0;
  box-sizing: border-box;
}
/* :root {
  --clr-bgc: #fff; 
  --clr-font: #282c35;
  --clr-primary: #d23669;
} */

.light-theme {
  --clr-bgc: #fff; 
  --clr-font: #282c35;
  --clr-primary: #d23669;
  /* transition: all .3s ease;  */
}

.dark-theme {
  --clr-bgc: #282c35; 
  --clr-font: #fff; 
  --clr-primary: #c7537a;
  /* transition: all .3s ease;  */
}


main {
  padding-top: 20px; 
  margin: 0 auto; 
  width: 80%; 
  min-width: 600px; 
  /* border: 1px solid salmon;  */
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-bgc);
  color: var(--clr-font);
  transition: all .3s ease; 
}
.nav-center {
  display: flex; 
  justify-content: space-around;
  /* border: 1px solid yellow;  */
  margin-bottom: 40px; 
}
.btn {
  color: var(--clr-bgc);
  background-color: var(--clr-primary);
  padding: 5px 10px; 
  outline: 0; 
  border: 0; 
  border-radius: 5px; 
  letter-spacing: .2rem;
  text-transform: capitalize;
  transition: all .3s ease; 
}
.btn:hover {
  color: var(--clr-font);
  transition: all .3s ease; 
}

/* articles */ 
.article-post {
/* border: 1px solid salmon;  */
display:flex; 
flex-direction: column;
justify-content: space-around;
height: 10%; 
min-height: 100px; 
margin-bottom: 20px; 
}

.article-post h2 {
  letter-spacing: 2px;
  text-transform: capitalize;
}

.article-title {
  color: var(--clr-primary);
  transition: all .3s ease; 
}

.article-info span {
    font-size: .9rem; 
}
.article-info span:first-child{
  font-style:italic;
}